{% load crispy_forms_tags %}
<div class="nav-content">
    <div class="btn-bg">
        <div>
            {% if request.user.is_authenticated %}
            {% else %}
                <div class="p-4">
                    <button class="btn btn-success popover-form"><i class="bi bi-person-fill-check"></i>LOGIN</button>
                    <button class="btn btn-secondary popover-form2"><i class="bi bi-person-x-fill"></i>REGISTER</button>
                </div>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %}
            <div class="name mx-4">
                <h4 class="mt-4">Welcome: {{request.user}}</h4>
            </div>
        {% endif %}
    </div>
    {% if request.user.is_authenticated %}
        <div class="mx-4">
            <a class="btn btn-outline-danger" href="{% url 'logout' %}"><i class="bi bi-person-x-fill"></i>Logout</a>
        </div>
    {% else %}
    <div class="form-login form-content">
        <button type="button" class="btn mb-2 btn-danger float-end"  data-dismiss="modal" aria-label="Close">
            <span class="close" aria-hidden="true">&times;</span>
          </button>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="Username">Username:</label>
                <input type="text" class="form-control" name="username" placeholder="enter Username..">
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="text" class="form-control" name="password" placeholder="password">
            </div>
            <div class="mt-2 btn-block col-5">
                <input class="btn btn-outline-primary " type="submit" value="Login">
            </div>
        </form>
    </div>
    {% endif %}

    {% if request.user.is_authenticated %}
    
    {% else %}
    <div class="form-login2 form-content2">
        <button type="button" class="btn mb-2 btn-danger float-end"  data-dismiss="modal" aria-label="Close">
            <span class="close2" aria-hidden="true">&times;</span>
          </button>
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <div class="mt-2 dg-5 col-5">
                <input class="btn btn-outline-success " type="submit" value="Register">
            </div>
        </form>
    </div>
    {% endif %}
    
</div>